<STYLE TYPE="text/css">
<!--

BODY {
  color: #000000;
  background: #FFFFFF;
  font-family: lucida, helvetica;
}

CODE {
  font-family: courier;
  color: #DD4400;
}

TD {
  font-family: lucida, helvetica;
  font-size: smaller;
}

ADDRESS {
  font-family: lucida, helvetica;
  font-size: smaller;
}

<!-- Background white, links blue (unvisited), navy (visited), red (active) -->
A:link { text-decoration: none; }
A:visited { text-decoration: none; }
A:active { text-decoration: none; }
A:hover {
  color: #8888FF;
  text-decoration: underline;
}

-->
</STYLE>
